body { 
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFCF3;
}

.volver { 
    background-color: #6f122f;
    border: none;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.1rem 0.1rem;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    position: fixed;
    top: 1rem; 
    left: 1rem; 
    z-index: 1000;
    opacity: 0.5;
}

.volver:hover {
    background-color: #1a253b;
    transform: translateY(-2px);
    opacity: 1;
}

.volver:active {
    background-color: #6f122f;
    transform: translateY(2px);
}

.titulo {
    height: 100vh;
    margin-right: 15%;
    margin-left: 15%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url('ruta-de-la-imagen.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.container {
    display: flex;
    margin-top: 0.5rem; 
    margin-left: 15%;
    margin-right: 15%;
}

.left, .right {
    flex: 1;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3s ease-out, transform 3s ease-out; /* Transición más lenta */
}

.left.show, .right.show {
    opacity: 1;
    transform: translateY(0);
}

.left {
    background-color: #FFFCF3;
    display: flex;
    justify-content: center;
    align-items: top;
}

.ficha {
    max-width: 500px;
    width: 100%;
}

h2.trav{
    padding-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}

p.trav{
    padding-left: 3rem;
    margin-top: 0.1rem;
    font-size: 1rem;
    font-weight: 300;
}

.perfil-info {
    display: flex; 
    align-items: center;
    margin-bottom: 1.5rem; 
}

.perfil {
    width: 15rem;
    height: 15rem;
    border-radius: 50%; 
    object-fit: cover;
}

.perfil-info ul {
    list-style-type: none;
    padding-left: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
}

li.gran {
    font-weight: 600;
    padding-bottom: 0.5rem;
}

li.peq {
    font-size: small;
    font-style: italic;
    padding-left: 0.5rem;
}

.ficha p {
    margin-bottom: 0;
}

.indice {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3s ease-out, transform 3s ease-out; /* Transición más lenta */
}

.indice.show {
    opacity: 1; /* Se vuelve visible */
    transform: translateY(0); /* Vuelve a su posición original */
}

.indice h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.indice a {
    font-size: 1.3rem;
    display: block; /* Esto hace que los enlaces se comporten como bloques y cada uno aparezca en una línea nueva */
    margin-bottom: 1rem;
    text-decoration: none; /* Quitar el subrayado de los enlaces */
    color: #1a253b;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.indice a:hover {
    color: #6f122f; /* Cambia el color al pasar el ratón por encima */
}

.right {
    background-color: #FFFCF3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top: 4rem;
}

.cuerpo {
    margin: 0 auto;
    padding: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    
}

.row h1{
    margin-top: 30%;
    margin-bottom: 15%;
    text-justify: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3s ease-out, transform 3s ease-out; /* Transición más lenta */
}

.row.show {
    opacity: 1;
    transform: translateY(0);
}

.column {
    flex: 1;
    padding: 1rem;
}

.text-column h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.text-column p {
    font-size: 1rem;
    line-height: 1.6;
    font-style: italic;
}

.image-column img {
    max-width: 100%;
    height: auto;
}

.audio-button {
    background-color: transparent; /* Sin fondo para que solo se vea la imagen */
    border: none; /* Sin borde */
    cursor: pointer;
    position: fixed;
    bottom: 3rem;  /* Posición desde la parte inferior */
    left: 8%;   /* Posición desde el lado derecho */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    opacity: 0.9;
}

.audio-button img {
    width: 4rem; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s; /* Transición suave al hacer hover */
}

.audio-button:hover img {
    transform: scale(1.1); /* Aumenta un poco el tamaño de la imagen al pasar el ratón */
}

.creditos {
    display: flex;  
    justify-content: center; 
    align-items: center;  
    margin-bottom: 5%;
    margin-top: 5%;
}